# Monday March 31st 2025

In [1]:
import pandas as pd
import openpyxl

In [ ]:
file = r"/Users/Toki3Duckie/code/SavvyCoders/DAP-Curriculum/Section05/resources/sample_winterathletes.xlsx"

In [ ]:
df = pd.read_excel(file, sheet_name = "Athletes", skiprows = 2)

df

In [ ]:
import sqlite3

In [ ]:
sql_file = r"/Users/Toki3Duckie/code/SavvyCoders/DAP-Curriculum/Section05/resources/PitchForkDatabase.sqlite"

In [ ]:
connection = sqlite3.connect(sql_file)

In [ ]:
query = "Select * from Artists"

In [ ]:
sql_table = pd.read_sql_query(query, con = connection)

In [ ]:
sql_table

In [ ]:
csv_file = r"/Users/Toki3Duckie/code/SavvyCoders/DAP-Curriculum/Section05/resources/titanic.csv"

In [ ]:
csv_data = pd.read_csv(csv_file)

In [ ]:
csv_data

In [ ]:
print(csv_data.columns)

In [ ]:
newdf = csv_data[["Name", "Sex", "Age", "Cabin"]]

In [ ]:
newdf

In [ ]:
#non null lets you know that there or may be missing values
newdf.info()

In [ ]:
newdf.to_csv(r"newdf.csv", index = False)

#because will include the index in the new file if you do not set to false

In [ ]:
# if wish to reset age from float to integer would need to make change
#could remove the rows
#could fill with random umer
#would need to handle before can cast to an integer

In [ ]:
#newdf["Age"].fillna(0, inplace = True)
#newdf["Age"] = newdf["Age"].astype(int)

In [ ]:
newdf.head()

In [ ]:
newdf.tail()

In [ ]:
#alternative method to deal with na values

#mean
#median
#mode

#we will use mean

In [ ]:
update_age = newdf["Age"].mean()

In [ ]:
print(update_age)

In [ ]:
import math

In [ ]:
update_age = math.ceil(update_age)

In [ ]:
update_age

In [ ]:
newdf["Age"].fillna(update_age, inplace = True)

In [ ]:
newdf.info()

In [ ]:
newdf["Cabin"].fillna("unknown", inplace = True)

#inplace = true changes the original data frame, so you do not need to create a new dataframe to store the changes
# get a caveat because it does not like you editing a slice of the original csv

In [ ]:
newdf.info()

In [ ]:
#could also drop Null rows

In [ ]:
date_file = r"/Users/Toki3Duckie/code/SavvyCoders/DAP-Curriculum/Section05/resources/data1.csv"

In [ ]:
df = pd.read_csv(date_file)

In [ ]:
df

In [ ]:
import datetime

In [ ]:
#one column is a Series of data, so Date is a Series of the date1 csv file

df["Date"] = pd.to_datetime(df["Date"], format = "mixed")

In [ ]:
df

In [ ]:
df.dropna(subset = ["Date"], inplace = True)

In [ ]:
df

In [ ]:
#fixing data with loc, location index or frame,  can pull out label, list, or single values
df.loc[9, "Duration"] = 45
print(df.tp_string())

In [4]:
#fixing data with a for loop

df = pd.read_csv(r"/Users/Toki3Duckie/code/SavvyCoders/DAP-Curriculum/Section05/resources/data.csv")

duration_series = df["Duration"]
#print(duration_series)

# fo through every number 1 thru 168, and if duration is greater than 120 going to change to equal to 120
for index, duration in enumerate(duration_series):
    if duration > 120:
        df.loc[index,"Duration"] = 120
print(df.loc[60])

Duration     120.0
Pulse        108.0
Maxpulse     160.0
Calories    1376.0
Name: 60, dtype: float64

In [7]:
#dropping items 
df = pd.read_csv(r"/Users/Toki3Duckie/code/SavvyCoders/DAP-Curriculum/Section05/resources/data.csv")
#print(df.info())


for x in df.index:
    if df.loc[x, "Duration"] > 120:
        df.drop(x, inplace =  True)

print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 156 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  156 non-null    int64
 1   Pulse     156 non-null    int64
 2   Maxpulse  156 non-null    int64
 3   Calories  151 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 10.2 KB
None

In [ ]:
# if you wanted to drop a specific index or row in this case inedx 10

df.drop([[10], inplace = Turue])

In [ ]:
#Discovering and removing duplicates

df = pd.read_csv(r"/Users/Toki3Duckie/code/SavvyCoders/DAP-Curriculum/Section05/resources/data1.csv")

#tells you the duplicated lines/rows
#print(df.duplicated())

#which reveals only have one duplicate on index 12

df.drop_duplicates(inplace = True)
print(df.duplicated())

# see now skips the index 12

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
13    False
14    False
dtype: bool

In [ ]:
#if wish to reset the index after such a change of deleting rows

df.reset_index(inplace = True)
print(df.duplicated())

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
dtype: bool

In [15]:
# abit of practice with .csvs
titanic_data = pd.read_csv(r"/Users/Toki3Duckie/code/SavvyCoders/DAP-Curriculum/Section05/resources/titanic.csv")
print(titanic_data.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [20]:
col_names = ["Id", "Survived", "Passenger Class", 
             "Full Name", "Gender", "Age", "SibSp", 
             "Parch", "Ticket Number", "Price", 
            "Cabin", "Station"]

df = pd.read_csv(r"/Users/Toki3Duckie/code/SavvyCoders/DAP-Curriculum/Section05/resources/titanic.csv", names = col_names, skiprows = [0])
print(df.head())

df.to_csv("use_titanic.csv", index = False)

   Id  Survived  Passenger Class  \
0   1         0                3
1   2         1                1
2   3         1                3
3   4         1                1
4   5         0                3

                                           Full Name  Gender   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch     Ticket Number    Price Cabin Station
0      0         A/5 21171   7.2500   NaN       S
1      0          PC 17599  71.2833   C85       C
2      0  STON/O2. 3101282   7.9250   NaN       S
3      0            113803  53.1000  C123       S
4      0            373450   8.0500   NaN       S

In [21]:
df = pd.read_csv(r"/Users/Toki3Duckie/code/SavvyCoders/Class-Notes/use_titanic.csv")
print(df.head())

   Id  Survived  Passenger Class  \
0   1         0                3
1   2         1                1
2   3         1                3
3   4         1                1
4   5         0                3

                                           Full Name  Gender   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch     Ticket Number    Price Cabin Station
0      0         A/5 21171   7.2500   NaN       S
1      0          PC 17599  71.2833   C85       C
2      0  STON/O2. 3101282   7.9250   NaN       S
3      0            113803  53.1000  C123       S
4      0            373450   8.0500   NaN       S